.full-size {
    position: absolute;
    top: 1em;
    left: 1em;
    right: 1em;
    bottom: 1em;
}

.columns, .column, .status {
    height: 100%;
}

.dnd {
    background-color: darkred;
}

.available {
    background-color: green;
}

.abscence-person {
    margin-bottom: 3em;
}

.abscence-item {
    font-size: 18px;
    font-weight: 300;
}

.abscence-item-current {
    font-weight: 500;
    color: #000000;
}

.status-title {
    position: absolute;
    left: 0.3em;
    color: #ffffff;
    font-size: 90px;
    width: 1px;
}

.dnd .status-title {
    bottom: 0.3em;
}

.absence-icon {
    margin-left: 1em;
    cursor: pointer;
    visibility: hidden;
}

*:hover > .absence-icon {
    visibility: visible;
}

.absence-person-icon {
    font-size: 0.5em;
    line-height: 2.5em;
}

.absence-item-icon {
    font-size: 0.7em;
    line-height: 2em;
}

.absence-item-add {
    margin-bottom: 2em;
}

.button {
    margin-right: 1em;
}

.hidden {
    display: none;
    visibility: hidden;
}